ul {
    list-style: none;
}

body {
    margin: 0;
    
}

main {
    display: flex;
    flex-direction: column;
    
    position: relative;
    width: 100%;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('images/fondo.jpg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    filter: brightness(0.3

        ); /* Ajusta el valor según tus preferencias */
    z-index: -1;
}
